fastapi
uvicorn[standard]
google-generativeai
python-dotenv
python-multipart
openai
loguru
aiofiles
google-cloud-speech
google-cloud-storage
reportlab>=4.0.7
numpy<2.0.0
opencv-python-headless
Pillow
ultralytics==8.3.240
easyocr
filterpy
scipy
torch
torchvision


imageio
imageio-ffmpeg
pypdf
firebase-admin
pydantic
imagehash
chromadb>=0.4.0
sentence-transformers
requests
httpx>=0.23.0
python-docx

uharfbuzz